<template>
  <div id="app">
    <span>
      Source: 
      <select v-model="dataSource">
        <option>Initial</option>
        <option>Plane</option>
        <option>Sphere</option>
        <option>Pings</option>
        <option>Qantas</option>
        <option>Flights</option>
        <option>Final</option>
      </select>
    </span>
     &nbsp;
    <span v-on:click="() => this.isRunning = !this.isRunning" class="btn">{{isRunning ? '⏸️' : '▶️'}}</span>
    <span style="float:right">{{stepSize.toPrecision(3)}}</span>
    <ReactChart :chart="chartData" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ReactChart from './components/ReactChart.vue';
import Simulator from './simulate';

import * as Plane from './loaders/generatePlane';
import * as Sphere from './loaders/generateSphere';
import * as Pings from './loaders/loadPings';
import * as Qantas from './loaders/loadQantas';
import * as Flights from './loaders/loadFlights';

// pre-computed results
import * as Multilateration from './loaders/loadMulti';
import * as Final from './loaders/loadFinal';

@Component({
  components: {
    ReactChart,
  },
})
export default class App extends Vue {
  chartData: ChartTrace = {
    x: [],
    y: [],
    z: [],
    mode: 'markers',
    marker: {
      size: 3
    },
    type: 'scatter3d'
  };
  dataSource: string = 'Plane';
  locations: ForcedLocation[] = [];
  stepSize = 1;
  isRunning = false;

  @Watch('dataSource', { immediate: true })
  onDataSourceChange() {
    let locations: PingLocation[];
    switch (this.dataSource) {
      case 'Plane':
        locations = Plane.Load();
        break;

      case 'Sphere':
        locations = Sphere.Load();
        break;

      case 'Pings':
        locations = Pings.Load();
        break;
        
      case 'Qantas':
        locations = Qantas.Load();
        break;
        
      case 'Flights':
        locations = Flights.Load();
        break;

      case 'Final':
        locations = Final.Load();
        break;
        
      case 'Initial':
      default:
        locations = Multilateration.Load();
    }

    if (locations[0] && locations[0].computed)
      this.locations = locations as ForcedLocation[];
    else
      this.locations = Simulator.initialize(locations);
    this.chartData.text = this.locations.map(p => p.name);
    this.refresh();
    this.stepSize = 0;

    setTimeout(this.step.bind(this), 100);
  }

  refresh() {
    this.chartData.x = this.locations.map(p => p.x);
    this.chartData.y = this.locations.map(p => p.y);
    this.chartData.z = this.locations.map(p => p.z);
  }

  step() {
    if (!this.isRunning || this.locations[0].computed) {
      setTimeout(this.step.bind(this), 100);
      return;
    }

    // compute multiple steps before rendering the results
    for (let n=0; n<10; n++) {
      const stepSize = Simulator.step(this.locations);
      if (isNaN(stepSize) || stepSize < .00001)
        return;
      this.stepSize = stepSize;
    }
    this.refresh();
    setTimeout(this.step.bind(this), 10);
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 90vh;
}
.btn {
  cursor: pointer;
}
</style>
