<template>
  <div id="chart"></div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
//@ts-ignore
import * as Plotly from 'plotly.js-dist';

@Component
export default class ReactChart extends Vue {
  @Prop() private chart!: ChartTrace;

  @Watch('chart', { deep: true })
  onChartDataChange(data: ChartTrace) {
    Plotly.react('chart', [data]);
  }

  mounted() {
    const layout = {
      margin: {
        l:0,
        r:0,
        b:0,
        t:0
      }
    };
    Plotly.newPlot('chart', [this.chart], layout);
  }
}
</script>

<style scoped lang="scss">
  #chart {
    min-height: 90vh;
  }
</style>
